body
{
    background-image: url("../images/ESEfondo2.jpg");
    font-family: sans-serif;
    height: 100%;
}
  
.contenedorLogin
{
    margin-top: 150px;
    text-align: left;
    width: 50%;
}
  
.formulario
{
    background-color: #000000;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 4px white inset, 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 360px;
    height: 197px;
    -webkit-animation: entrada 1s;
    -moz-animation: entrada 1s;
    -ms-animation: entrada 1s;
    -o-animation: entrada 1s;
    animation: entrada 1s;
}
  
.formulario a
{
    color: #7C96B7;
}
  
.formulario h2
{
    color: #414848;
}
  
.formulario input[type=submit]
{
    background-color: #409FBA;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px white inset;
    color: white;
    font-size: 17px;
    height: 35px;
    margin: 4px;
    min-width: 100px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
  
.formulario input[type=submit]:hover
{
    background-color: #D84530;
    cursor: pointer;
}
  
.formulario input[type=submit]:focus
{
    outline: none;
}

  
.formulario input[type=text], .formulario input[type=password]
{   
    padding: 10px;
    border: solid 2px #409FBA;
    transition: box-shadow 0.3s, border 0.3s;
    height: 25px;
    margin: 0px;
    min-width: 240px;
    padding: 4px;
}
  
.formulario input[type=text]:focus, .formulario input[type=password]:focus
{
    outline: none;
}

.formulario input[type=text].focus, .formulario input[type=password].focus
{
   border: solid 1px #707070;
   box-shadow: 0 0 5px 1px #969696;
}

  
.formulario input[type=text]:hover, .formulario input[type=password]:hover
{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset, -1px -1px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 2px white, 0px 0px 2px rgba(0, 0, 0, 0.2);
}
  
.formulario p
{
    color: #7C96B7;
}
  
.seccionBotones
{
    background-color: #D4DEDF;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 0px 2px white, 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px white inset;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: right;
}
  
@-webkit-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -webkit-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -webkit-transform: rotate(0deg);
    }
}
  
@-moz-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -moz-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -moz-transform: rotate(0deg);
    }
}
  
@-ms-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -ms-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -ms-transform: rotate(0deg);
    }
}
  
@-o-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -o-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -o-transform: rotate(0deg);
    }
}
  
@keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        transform: rotate(0deg);
    }
}

#wrap { 
		padding: 15px 10px 3px 10px; 
		width: 1200px; 
		height:583px;
		margin:1px auto; 
		background: #fff;
}


#izquierda{
   width: 670px;
   height:570px;
   float: left;
   margin: 10px 0px 10px 10px;
}
#derecha{
   width: 500px;
   height:570px;
   float: right;
   margin: 10px 5px 10px 0px;
   background: #fff;
}
#ex5 { 
    width: 700px; 
    margin: 0 auto; 
    min-height: 300px; 
} 
#ex5 img { 
margin: 25px; opacity: 0.8; 
border: 0px solid 
#eee; /*Transition*/ -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; 
/*Reflection*/ -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1))); 
} 
#ex5 img:hover { opacity: 1; /*Reflection*/ -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); 
/*Glow*/ -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
} 