<template>
	<div class="conainer-data">
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#menus1">REGISTRE SU CITA</a></li>
  <li><a data-toggle="tab" href="#menus2">ESTADO DE SU CITA</a></li>
</ul>

<div class="tab-content">
  <div id="menus1" class="tab-pane fade in active">
<div id="gamma-container" style="display: none;"></div>
		<div id="trello-root" class="opera opera-60 windows body-hide-header">
			<div id="chrome-container">
				<div class="_3-Xrz8XpMpyaUL">
					<div id="surface">
						<div id="content">
							<div class="first-board-wrapper">
								<div class="first-board-wrapper js-create-first-board">
									<div class="first-board-container">

										<div class="first-board-column first-board-content-wrapper">
											<div class="first-board-content">
												<div class="first-board-navigation" v-if="menu<3">
													<span @click="menu>0?selectmenu(0):''" :class="menu==0?'current-step':''"></span>
													<span @click="menu>1?selectmenu(1):''" :class="menu==1?'current-step':''"></span>
													<span @click="menu>2?selectmenu(2):''" :class="menu==2?'current-step':''"></span>
												</div>
												<div class="first-board-text-wrapper">
													<div class="first-board-text">
														<div class="board-name">
															<!--#################################################INICIO DEL TABLERO#################################################-->
															<div  v-if="menu==0 || menu==1">
																<form id="menu0">
																	<table align="center">
																		<tr>
																			<td><label>Tipo de documento</label></td>
																			<td><select style="    width: 310px;display: -webkit-inline-box;" @change="ValidateDatosPersonales()" v-model="datosPersonales.documentoTipo" class="select" >
																			<option value="">Seleccione el tipo de documento</option>
																			<option v-for="(item,index) in arrayDocumentoTipo" :key="index" :value="item.id">{{item.nombre_corto}} - {{item.nombre}}</option>
																		</select></td>
																		</tr>
																		<tr>
																			<td><label>Número de documento</label></td>
																			<td><input style="display: -webkit-inline-box;" @keyup="ValidateDatosPersonales()" v-model="datosPersonales.documento" placeholder="Numero de documento" maxlength="100"></td>
																		</tr>
																		<tr>
																			<td>
																				<label>Repita el número de documento</label>
																				</td>
																			<td>
																				<input style="display: -webkit-inline-box;" @keyup="ValidateDatosPersonales();ValidarDocumento()"  v-model="datosPersonales.documento2" placeholder="Numero de documento" maxlength="100">
																			</td>
																		</tr>
																		
																	</table>
																	<div v-if="errordocumento" class="alert alert-danger" role="alert">
																		El número de documento no concuerda
																	</div>
																	<div v-if="!PermiteRegistro" class="alert alert-danger" role="alert">
																		Para agendar su cita a través de esta plataforma debe estar registrado en nuestro sistema. Por favor dirijase a su punto de atención mas cercano.
																	</div>
																	
																	<button type="button" class="first-board-continue-footer" @click="siguiente()" :disabled="disabled" :class="disabled?'disabled':'is-active'" >
																	<span v-if="!disabled">Validar documento</span> <span class="icon-sm icon-down"></span>
																	</button>
																</form>
															</div>
															<div  v-if="menu==1">
																<form id="menu1">
																	<table align="center">
																		<tr>
																			<td>
																				<label for="datosPersonales_celular1">Ingrese su número celular</label>
																			</td>
																			<td>
																				<input id="datosPersonales_celular1" type="number" v-model="datosPersonales.celular1" placeholder="Ingrese su numero celular" maxlength="10" minlength="10" required="required" title="Debe ser un numero celular valido de 10 caracteres" />
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<label for="datosPersonales_email">Correo electronico</label>
																			</td>
																			<td>
																				<input id="datosPersonales_email" type="email" v-model="datosPersonales.email" placeholder="Ingrese su correo electronico" title="Ingrese un correo electronico valido">
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<label for="datosPersonales_id_punto_atencion">Ingrese su punto de atención</label>
																			</td>
																			<td>
																				<select @change="ListarProgramas()" id="datosPersonales_id_punto_atencion" name="datosPersonales_id_punto_atencion" v-model="datosPersonales.id_punto_atencion" class="select" placeholder="Ingrese su numero celular" required="required" title="Debe seleccionar un punto de atención">
																					<option value="">Seleccione Punto de atencion</option>
																					<option v-for="(item,index) in arrayPuntosAtencion" :key="index" :value="item.id">{{item.nombre}}</option>
																				</select>
																			</td>																			
																		</tr>																		
																	</table>
																	<button type="button" class="first-board-continue-footer" @click="siguiente()" :disabled="disabled" :class="disabled?'disabled':'is-active'" >
																	<span v-if="!disabled">continuar</span> <span class="icon-sm icon-down"></span>
																	</button>
																</form>
															</div>
															<div v-if="menu==2">
																<form id="menu2">
																<div class="row">
																	<div v-for="(item,index) in arrayProgramas" :key="index" class="col-md-3">
																		<button
																			type="button" 
																			class="btn btn-success btn-selected"
																			:class="idPrograma==item.id?' selected ':''"
																			:name="'programa['+item.id+']'" 
																			@click="tipoConsulta(item.id_consulta_tipo,item.id,item.maximocitas)" 
																			:value="item.id" 
																			:id="'programa_'+item.id"
																			>
																		{{item.nombre}}
																		</button>
																		<br>
																	</div>
																</div>
																<div class="col-md-12">
																	<br>
																	<br>
																	<br>
																	<textarea name="" id="" class="form-control" rows="5" placeholder="Ingrese el motivo de su consulta" v-model="motivoconsulta"></textarea>
																</div>


																<div class="row" v-if="mostrarPrograma">
																	<div class="alert alert-danger" role="alert">
																		{{mensajeMostrarPrograma}}
																	</div>
																</div>


																<div class="row">
																	<div id="content-calendar">

																		Por favor, seleccione la fecha en que desea agendar su cita
																		<div id='calendar'>
																			<h2 id="textoCalendar">Cargando calendario. Por favor espere</h2>
																		</div>
																	</div>
																</div>
																<div v-if="!SiHayCupos">
																	<div role="alert" class="alert alert-danger">
																		<h4 class="alert-heading" style="font-size: 1.5rem;">Lo sentimos</h4> 
																		<p style="text-align: justify;color: #721c24;">
																			En este momento no tenemos cupos disponibles 
																			para asignarle una cita.
																		</p> 
																		<hr> 
																		<p class="mb-0" style="text-align: initial;color: #721c24;">
																			<a href="javascript:location.reload()">Por favor intente mas tarde.</a>
																		</p>
																	</div>
																</div>
																</form>
															</div>
															<div v-if="menu==3" style="display: flex;justify-content: center;">
																<form id="menu3">
																<div style="max-width:50%;">
																		<h2>Su cita esta en tramite.</h2>
																		<p>
																			Con este codigo podrás verificar el estado de tu cita a traves de la 
																			pagina web, opcion <strong>Agende su cita</strong> opcion 
																			<strong>estado de su cita</strong>. ademas se estará confirmando la 
																			mismaa traves de un mensaje de texto o de correo electronico.
																		</p>
																		<h2>Su codigo de cita es:</h2> <strong style="font-size: 3em;">{{codigocita}}</strong>
																	</div>
																</form>
															</div>
															<!--##################################################FINAL DEL TABLERO#################################################-->
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="js-react-root"></div>
					<div class="js-react-root"></div>
				</div>
				<div class="js-react-root">
					<div class="a56lCU1pO2vNXU" id="layer-manager-alert"></div>
					<div class="_12CFb1p8rKvr6X" id="layer-manager-overlay"></div>
					<div tabindex="-1" class="SfJ6cPRUGPgPFd" id="layer-manager-popover"></div>
					<div class="_1cyB3mbofYLxk_" id="layer-manager-tooltip"></div>
				</div>
				<div class="window-overlay">
					<div class="window">
						<a class="focus-dummy" href="#"></a>
						<div class="window-wrapper js-tab-parent"></div>
					</div>
				</div>
				<div class="pop-over"></div>
				<div class="tooltip-container"></div>
				<div id="clipboard-container"></div>
			</div>
			<!-- This div acts as a portal for react-beautiful-dnd -->
			<div id="dnd-portal"></div>
		</div>
		<div id="modalContent">
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Registro de cita</h4>
						</div>
						<div class="modal-body">
							<div v-if="estadomodal=='confirmar'">
								<h3>Va a registrar una cita con los siguientes datos. Por favor verifique que están correctos:</h3>
								<label>Documento de identidad:  {{datosPersonales.documento}}</label>
								<label>Telefono de contacto:	{{datosPersonales.celular1}}</label>
								<label>Correo electronico:		{{datosPersonales.email}}</label>
								<label>Fecha de solicitud de cita:		{{fechaCita}}</label>	
								<h3>Para terminar por favor valie el siguiente reCAPTCHA</h3>
								<div id='html_element'>
									<span class="label label-danger">El captcha no ha sido validado. Su cita no será asignada hasta que valide este captcha.</span>
								</div>
								<br>
								<div class="g-recaptcha" data-sitekey="6LeRtawUAAAAAIOwcDnkZEqwrbhLwL35nolNNYwj"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-primary" @click="CitaModal()">Confirmar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
  <div id="menus2" class="tab-pane fade">
<table align="center" style="width:70%">
	<tr v-if="!cancelado">
		<td><label>Ingrese el codigo de su cita</label></td>
	</tr>	
	<tr v-if="!cancelado">	
		<td><input style="display: -webkit-inline-box;width: 100%;text-align: -webkit-center;"  v-model="codigo_cita" placeholder="Codigo de su cita" maxlength="100"></td>
	</tr>	
	<tr>
		<td v-if="citas_info!=''">
			<div v-if="cancelado">
				<div class="col-md-12">
					<br>
					<br>
					<br>
				<div class="alert alert-danger" role="alert">
				<h4 class="alert-heading">Señor usuario, está a punto de cancelar una cita</h4>
				<p>Tenga en cuenta que su cita será cancelada y deberá volver a hacer el proceso de asignación de cita si desea recuperarla.</p>
				</div>
				<hr>
				</div>
				<div class="col-md-12">
					<label for="">Ingrese su numero de documento</label>
					<input type="text" v-model="documentoCancelar" class="form form-control">
				</div>
				<div class="col-md-12">
					<label for="">Ingrese el motivo por la cual desea cancelar su cita</label>
					<textarea name="motivoCancelar" id="motivoCancelar" v-model="motivoCancelar" class="form form-control" rows="10"></textarea>
				</div>
				<div>
					<button class="btn btn-danger" @click="confirmacionCancelar()">Si quiero cancelar mi cita</button>
				</div>
		
			</div>
			<div v-else style="height: 250;overflow-y: scroll;">
				<template v-for="(cita_info,index) in citas_info">
				<div  :key="index">
					<template v-if="false">
							
					<h2>Datos del paciente</h2>
					<strong>Nombre:</strong> 		{{cita_info.nombre_primero}} {{cita_info.nombre_segundo}} {{cita_info.apellido_primero}} {{cita_info.apellido_segundo}}<br>
					<strong>Documento:</strong> 	{{cita_info.documento}}<br>
					<strong>Email:</strong> 		{{cita_info.email}}<br>
					<strong>Celular:</strong> 		{{cita_info.celular1}}<br>
					<br>
					<br>
					</template>
					<h2>Datos de la cita</h2>
					<strong>Estado de la cita:</strong> 	{{cita_info.cita_estado}}<br>
					<strong>Codigo:</strong> 				{{cita_info.codigo}}<br>
					<strong>Fecha asignada:</strong> 		{{cita_info.fecha}}<br>
					<strong>Hora asignada:</strong> 		{{cita_info.hora}}<br>
					<strong>Profesional asignado:</strong> {{cita_info.especialista==''?'NO ASIGNADO':cita_info.especialista}}<br>
					<strong>Punto de atención:</strong> 	{{cita_info.punto_atencion}}<br>
					<button class="btn btn-danger" @click="cancelarCita(cita_info.codigo,cita_info.documento)">Cancelar cita</button>
					<hr>	
				</div>
				</template>
			</div>
		</td>
	</tr>
	<tr>
		<td v-if="!cancelado">
			<button @click="buscarCitaCodigo()" class="first-board-continue-footer is-active"><i class="fas fa-search"></i> Buscar</button>
		</td>
	</tr>
</table>








  </div>
</div>
	</div>
</template>
<script>
export default
{
	data()
	{
		return {
			SiHayCupos:true,
			codigo_cita:'',

			documento:'',
			cancelado:false,
			documentoCancelar:'',
			motivoCancelar:'',
			codigoCancelar:'',

			citas_info:'',
			keygoogle:'',
			errordocumento: false,
			datosPersonales:
			{
				id_punto_atencion: '',
				celular1: '',
				celular2: '',
				email: '',
				documento: '',
				documento2: '',
				documentoTipo: ''
			},
			arrayProgramas: [],
			menu: 0,
			arrayDocumentoTipo: [],
			disabled: true,
			mostrarPrograma: false,
			mensajeMostrarPrograma: '',
			fechaActual: '',
			arrayDiasInabilitados: [],
			idPrograma: 0,
			motivoconsulta: '',
			arrayPuntosAtencion: [],
			arrayFechasOcupadas: [],
			fechaCita: '',
			estadomodal: 'confirmar',
			base: '',
			codigocita: '',
			maximoCitas: 0,
			PermiteRegistro:true,
		}
	}, //idPrograma,fechaCita,datosPersonales
	methods:
	{

		iniciar()
		{
			let me = this;
			me.keygoogleData();
			me.DocumentoTipo();
			me.Calendario();
			me.mensajePrograma();
			me.CalcularfechaActual();
			me.ValidateDatosPersonales();
			me.PuntosAtencion();
		},
		buscarCitaCodigo()
		{
			let me = this;
			axios.post(me.base + '/api/citacodigo',
			{
				codigo:me.codigo_cita
			}).then(function(response)
			{
				if(response.data.data === null)
				{
					alert('No se encontraron datos de este paciente')
				}
				else
				{
					me.cancelado=false;
					me.citas_info=response.data.data;
				}
			})
		},
		confirmacionCancelar()
		{
			let me = this;
			if(me.documentoCancelar==me.documento)
			{
				axios.post(me.base + '/api/citaCancelarUsuario',
				{
					motivo:me.motivoCancelar,
					codigo:me.codigoCancelar
				}).then(function(response)
				{
					if(response.data.data === null)
					{
						alert('No se encontraron datos de este paciente')
					}
					else
					{
						me.cancelado=false;
						alert('Su cita se encuentra cancelada.')
						me.buscarCitaCodigo();
					}
				})
			}
			else{
				alert('El documento no concuerda')
			}
			
		},
		cancelarCita(codigo,documento)
		{
			console.log(codigo);
			let me = this;
			me.documento=documento;
			me.codigoCancelar=codigo;
			me.cancelado=true;
		},
		keygoogleData()
		{
			let me = this;
			var url = base + '/api/captchakey';
			axios.get(url).then(function(response)
			{
				me.keygoogle = response.data;
			}).catch(function(error)
			{
				console.error(error)
			});
		},
		CitaModal() 
		{
			var response = grecaptcha.getResponse();
			let me = this;
			axios.post(me.base + '/api/codigo',
			{
				id_programa: me.idPrograma,
				fecha_cita: me.fechaCita,
				datos_personales: me.datosPersonales,
				motivoconsulta: me.motivoconsulta,
				"g-recaptcha-response":$('#g-recaptcha-response').val()
			}).then(function(response)
			{
				if(response.data.validate)
				{
					$('#html_element').hide();
					me.codigocita = response.data.codigo;
					$('#myModal').modal('hide');
					me.siguiente();
				}
				else{
					$('#html_element').show();
				}
			})
		},
		PuntosAtencion()
		{
			let me = this;
			var url = base + '/api/puntosatencion/all';
			axios.get(url).then(function(response)
			{
				me.arrayPuntosAtencion = response.data;
				me.datosPersonales.id_punto_atencion = '';
			}).catch(function(error)
			{
				console.error(error)
			});
		},
		CalcularfechaActual()
		{
			let me = this;
			axios.get(base + '/api/fechaActual').then(function(response)
			{
				var respuesta = response.data;
				me.fechaActual = respuesta.fecha;
			}).catch(function(error)
			{
				console.error(error)
			});
		},
		Calendario()
		{
			let me = this;
		},
		selectmenu(id)
		{
			let me = this;
			me.menu = id;
		},
		ValidaDocumentoExistente()
		{
			let me = this;
			var resultado = false;
			return resultado;
		},
		tipoConsulta(id_tipo, id, maximoCitas)
		{
			$('#content-calendar').hide();
			let me = this;
			me.maximoCitas = maximoCitas;
			me.idPrograma = id;
			if (id_tipo == 1)
			{
				me.disabled = true;
				me.mostrarPrograma = false;
				axios.post(me.base + '/api/programas/CitasMaximas',
				{
					id_programa: me.idPrograma,
					id_punto_atencion: me.datosPersonales.id_punto_atencion
				}).then(function(response)
				{
					$('#content-calendar').show();
					me.arrayFechasOcupadas = response.data.fechas;
					me.Renderfecha();
				});
			}
			else
			{
				me.disabled = false;
				me.mostrarPrograma = true;
			}
		},
		mensajePrograma()
		{
			let me = this;
			axios.get(base + '/api/mesaje/mensaje-programas').then(function(response)
			{
				var respuesta = response.data;
				me.mensajeMostrarPrograma = respuesta.value;
			}).catch(function(error)
			{
				console.error(error)
			});
		},
		validateDocumento()
		{
			let me = this;
			var url = base + '/api/validardocumento';
			axios.post(url,
			{
				documento: me.datosPersonales.documento2,
				documentoTipo:me.datosPersonales.documentoTipo
			}).then(function(response)
			{
				var respuesta = response.data;
				if(respuesta.PermiteSacarCitas)
				{
					if (respuesta.validate)
					{
						me.datosPersonales.celular1 = respuesta.data.celular1;
						me.datosPersonales.celular2 = respuesta.data.celular2;
						me.datosPersonales.email = respuesta.data.email;
					}
					if(respuesta.PermiteRegistro=='si')
					{
						me.menu = me.menu + 1;
						me.PermiteRegistro=true;
					}
					else
					{
						if(respuesta.validate)
						{
							me.menu = me.menu + 1;
							me.PermiteRegistro=true;
						}
						else{
							me.PermiteRegistro=false;
						}
					}
				}
				else{
					let msj="Usted ya tiene cita en tramite. No puede sacar mas citas mientras no se le aprueben las demas";
					me.$swal({
						type: 'error',
						title: 'Lo sentimos',
						text: msj
					});
				}
			}).catch(function(error)
			{
				console.error(error)
			});
		},
		ListarProgramas()
		{
			let me = this;
			var url = base + '/api/programas/puntoatencion';
			axios.post(url,
			{
				id_punto_atencion: me.datosPersonales.id_punto_atencion
			}).then(function(response)
			{
				me.arrayProgramas = response.data;
			}).catch(function(error)
			{
				console.error(error)
			});
		},
		siguiente()
		{
			let me = this;
			if ($("#menu" + me.menu).valid())
			{
				switch (me.menu)
				{
					case 0:
						me.validateDocumento();
						break;
					case 1:
						me.menu = me.menu + 1;
						break;
					case 2:
						me.menu = me.menu + 1;
						break;
					case 3:
						me.menu = me.menu + 1;
						break;
				}
				$("#menu" + me.menu).validate();
			}
		},
		Renderfecha()
		{
			try
			{
				let me = this;
				me.SiHayCupos=false;
				$('#calendar').fullCalendar('destroy');
				var datares={
					lang: 'es',
					weekends: false,
					eventAfterAllRender: function()
					{
						$('#textoCalendar').html('');
					},
					dayRender: function(date, cell)
					{
						var check = moment(date.format()).format('YYYY-MM-DD');
						var totalDias = 1;
						var dt = new Date(me.fechaActual)
						var fecha_final=3;
						switch (dt.getUTCDay())
						{
							case 1: fecha_final=4;
								break;
							case 2: fecha_final=4;
								break;	
							case 3: fecha_final=4;
								fecha_final=6;
								break;
							case 4:
								totalDias = 1;
								fecha_final=6;
								break;
							case 5:
								totalDias = 3;
								fecha_final=6;
								break;
							case 6:
								totalDias = 3;
								fecha_final=6;
								break;
							case 0:
								totalDias = 2;
								fecha_final=5;
								break;
						}
						var today = moment(new Date(me.fechaActual)).add(totalDias, "days").format('YYYY-MM-DD');
						var fechaFinal = moment(new Date(me.fechaActual)).add(fecha_final, "days").format('YYYY-MM-DD');
						cell.addClass('enable');
						if (check > today && check <= fechaFinal)
						{
							cell.addClass('enable');
							cell.removeClass('disabled');
						}
						else
						{
							cell.addClass('disabled');
							cell.removeClass('enable');
						}
						$.each(me.arrayFechasOcupadas,function(index,value)
						{
							if(value.fecha==check)
							{
								cell.removeClass('enable');
								cell.addClass('disabled');
							}
						});
						if(cell.hasClass('enable'))
						{
							me.SiHayCupos=true;
						}
					},
					dayClick: function(start, end)
					{
						var totalDias = 1;
						var dt = new Date(me.fechaActual)
						var fecha_final=3;
						switch (dt.getUTCDay())
						{
							case 1: fecha_final=4;
								break;
							case 2: fecha_final=4;
								break;	
							case 3: fecha_final=4;
								fecha_final=6;
								break;
							case 4:
								totalDias = 1;
								fecha_final=6;
								break;
							case 5:
								totalDias = 3;
								fecha_final=6;
								break;
							case 6:
								totalDias = 3;
								fecha_final=6;
								break;
							case 0:
								totalDias = 2;
								fecha_final=5;
								break;
						}
						var check = moment(start.format()).format('YYYY-MM-DD');
						var today = moment(new Date(me.fechaActual)).add(totalDias, "days").format('YYYY-MM-DD');
						var fechaFinal = moment(new Date(me.fechaActual)).add(fecha_final, "days").format('YYYY-MM-DD');
						var habilitado= (check > today && check <= fechaFinal);
						if(me.arrayFechasOcupadas.length>0)
						{
							$.each(me.arrayFechasOcupadas,function(index,value)
							{
								if(value.fecha==check)
								{
									habilitado=false;
								}
							});
						}
						if(habilitado)
						{
							me.fechaCita = check;
							$('#myModal').modal('show');
						}
					},
				};
				$('#calendar').fullCalendar(datares);
				$('#calendar').fullCalendar('render');
				if(me.SiHayCupos)
				{
					$('#calendar').show();
				}
				else{
					$('#calendar').hide();
				}
			}
			catch (error)
			{
				console.error(error);
			}
		},
		CallReaptchat(response) 
		{
			 alert(response)
		},
		ValidarDocumento()
		{
			let me = this;
			me.errordocumento = (me.datosPersonales.documento !== me.datosPersonales.documento2) && (me.datosPersonales.documento2 != '');
		},
		DocumentoTipo()
		{
			let me = this;
			var url = base + '/api/documentoTipo';
			me.datosPersonales.documentoTipo = '';
			axios.get(url).then(function(response)
			{
				me.arrayDocumentoTipo = response.data;
			}).catch(function(error)
			{
				console.error(error)
			});
		},
		ValidateDatosPersonales()
		{
			let me = this;
			if (me.datosPersonales.documentoTipo != '' && me.datosPersonales.documento != '' && me.datosPersonales.documento2 != '' && me.datosPersonales.documento == me.datosPersonales.documento2)
			{
				me.disabled = false;
			}
			else
			{
				me.disabled = true;
			}
		},
		Validar()
		{},
	},
	mounted()
	{
		$('#html_element').hide();
		this.base = base;
		this.iniciar()
		$("#menu0").validate();
	}
}
</script>
<style>
	.select{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	background: hsl(0, 0%, 100%);
	border: none;
	border-bottom: 2px solid hsl(218, 14%, 54%);
	border-radius: 0;
	box-shadow: none;
	text-align-last: center;
	font-weight: bold;
	max-width: 322px;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -.45px;
	padding: 6px 8px;
	}
	.btn-selected{
	width: 100%;
	height: 60px;
	font-size:1.5em;
	}
	.selected{
	color: hsl(0, 0%, 100%);
	background-color: hsl(208, 56%, 46%);
	border-color: hsl(208, 56%, 41%);
	}
	.selected:hover, .selected:active,.selected:focus{
	color: hsl(0, 0%, 100%);
	background-color: hsl(208, 57%, 36%);
	border-color: hsl(208, 57%, 29%);
	}
	#content-calendar{
		max-width:50%;	
	    justify-content: center;
	    display: inline-block;
	}
	label{
		text-align: center;
	}
	.nav-tabs {
    	background-color: #157AB1;
	}
	.nav-tabs > li > a {
 	   color: #FFF;
	}
	.nav > li > a:hover, .nav > li > a:focus {
    	text-decoration: none;
    	background-color: #0dacee;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: #FFF;
		background-color: #0dacee75;
		border-bottom-color: transparent;
	}
</style>